<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>My Weather App</nav>
    <main>
      <h1><%= pageTitle %></h1>
    </main>
    <%- include("partials/navigation", linkItems) %>
  </body>
</html>
